@font-face{
    font-family: Mylove;
    src:url("../Fonts/My\ Love.ttf")
}

@font-face{
    font-family: GeorgeCafe;
    src:url("../Fonts/Louis\ George\ Cafe\ Light.ttf")
}

@font-face{
    font-family: SunnySpells;
    src:url("../Fonts/Sunny\ Spells\ Basic.ttf")
}

@font-face{
    font-family: Saturday;
    src:url("../Fonts/Saturday\ Sweat.otf")
}

@font-face {
    font-family: MilkPeach;
    src: url("../Fonts/Milk\ Peach.ttf");
}
